/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

/* ----- GLOBAL STYLES ----- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    text-align: center;
    color: #1d3557;
}

/* ----- HERO/HEADER ----- */

header {
    background-image: url(../assets/images/torshov.jpg);
    color: #fff;
}

/* ----- ACTIVITIES ----- */

.activities-container {
    background: #f1faee;
    justify-content: space-evenly;
}

.activities {
    display: flex;
}

img {
    width: 100px;
}

/* ----- GUIDE ----- */

.guide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.guide {
    display: flex;
}
