/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

/* ----- GLOBAL STYLES ----- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    /* border: 1px dotted red; */
}

html {
    color-scheme: dark light;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    text-align: center;
    color: #1d3557;
    width: 720px;
    margin: 0 auto;
}

/* ----- HERO/HEADER ----- */

header {
    background-image: url(../assets/images/torshov.jpg);
    color: #fff;
}

/* ----- ACTIVITIES ----- */

.activities-container {
    background: #f1faee;
    justify-content: space-evenly;
}

.activities {
    display: flex;
}

.activities-img {
    width: 100px;
    border-radius: 50%;
}

/* ----- GUIDE ----- */

.guide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 394px;
}

.guide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 6px 0 13px;
    border-radius: 10px;
    background: #a8dadc;
    box-shadow: 0px 6px 0px 0px #1d3557;
    width: 400px;
    height: 294px;
}

.guide-img {
    width: 180px;
    height: 250px;
    border-radius: 10px;
}

.guide-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;
}

.guide-info h2 {
    font-size: 24px;
    font-weight: 700;
}

.guide-info_quote {
    font-style: italic;
}

.guide-name {
    font-weight: 700;
}
